# Dependencies (Crucial to prevent merge locks)
node_modules/
react-vulnerable-app/node_modules/

# Local Build Caches & Logs
.cache/
react-vulnerable-app/node_modules/.cache/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database Security Credentials 
firebase-service-account.json
react-vulnerable-app/firebase-service-account.json

# Environment Runtime Secrets
.env
.env.local
react-vulnerable-app/.env